.aside {
  padding-left: 147px;
  padding-top: var(--outside-gap);
  max-width: 730px;
  width: 100%;
}

.container {
  max-width: 446px;
}

.aside h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  margin-top: 80px;
  color: var(--color-primary);
}

.aside h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-top: 10px;
  color: var(--color-3);
}

.aside h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .aside {
    padding-right: 147px;
    max-width: 100%;
  }
  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    padding: 20px;
  }
}