.root {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;

  display: grid;
  grid-gap: 20px;
}

.photo:nth-child(10n + 1),
.photo:nth-child(10n + 8) {
  height: 300px;
  grid-row: auto / span 2;
}

.photo:nth-child(10n + 4),
.photo:nth-child(10n + 9) {
  height: 300px;
  max-width: 420px;
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}

.photo {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  max-width: 200px;
  height: 140px;
  min-width: 100%;
  overflow: hidden;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity linear var(--animation-duration), transform ease-in var(--animation-duration);
}

.photo.loaded {
  transform: scale(1);
  opacity: 1;
}

.photo img {
  object-fit: cover;
}

@media screen and (max-width: 550px) {
  .photo,
  .photo:nth-child(10n + 1),
  .photo:nth-child(10n + 8),
  .photo:nth-child(10n + 4),
  .photo:nth-child(10n + 9) {
    height: 295px;
    min-height: 295px;
    max-width: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}
