.overlay {
  left: 0;
  top: 0;
  position: fixed;
  background: var(--color-popup-overlay);
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--outside-gap);
  justify-content: flex-end;
  z-index: 10;
}

.overlay.hideOverlay {
  padding: 0;
}

.popup {
  padding: 20px;
  border-radius: 20px;
  background: var(--color-popup-background);
  max-width: var(--main-width);
  width: 100%;
}

.popup.hideOverlay {
  max-width: 100%;
  border-radius: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
}