.root {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.breed,
.limit {
  flex-grow: 1;
}

@media screen and (max-width: 550px) {
  .root {
    flex-shrink: 0;
    flex-wrap: wrap;
  }
  .breed {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
