.voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.activities {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -44px;
  z-index: 1;
}

.logs {
  margin-top: 14px;
  width: 100%;
  overflow: auto;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
