.upload.upload.upload {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  gap: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--color-alt-icon-background);
  color: var(--color-18);
  font-weight: 500;
  margin-left: auto;
}

.upload.upload:active {
  color: var(--color-1);
  background: var(--color-18);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.filters {
  margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
  .upload {
    width: 100%;
  }
}