.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.filters {
  margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
  .alt {
    width: 100%;
  }
}