.container {
  display: flex;
  align-items: center;
}

.indicator {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: var(--color-svg-background);
  margin-right: 5px;
}