.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumb {
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px 30px;
  background: var(--color-alt-icon-background);
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-2);
}

.breadcrumb:hover,
.breadcrumb.active {
  background: var(--color-2);
  color: var(--color-1);
}

.breadcrumb:last-child {
  cursor: default;
  pointer-events: none;
}

button.back {
  background: var(--color-alt-icon-background);
}

button.back:hover {
  background: var(--color-2);
}

button.back:hover svg,
button.back:hover path,
button.back:active svg,
button.back:active path {
  fill: var(--color-1);
}