.button {
  background: var(--color-default-button);
  color: var(--color-2);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: background-color ease-in 200ms;
}

.button:hover,
.button.hover {
  background: var(--color-4);
}

.button:active,
.button.active {
  background: var(--color-2);
  color: var(--color-1);
}

.button:focus,
.button:focus-visible {
  outline: none;
}