.button {
  background: var(--color-default-button);
  color: var(--color-2);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: background-color linear var(--duration-default),
    color linear var(--duration-default),
    transform linear var(--duration-default);
  cursor: pointer;
}

.button.vector {
  background: var(--color-element-background);
  border-radius: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.button.hover {
  background: var(--color-4);
}

@media (hover: hover) {
  .button:hover {
    background: var(--color-4);
  }
}

button.button:active,
button.button.active {
  background: var(--color-2);
  color: var(--color-1);
}

button.button:active svg,
button.button:active path,
button.button.active svg,
button.button.active path {
  fill: var(--color-1);
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button.button:active {
  transform: scale(0.96);
}

.button.upload {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  gap: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--color-alt-icon-background);
  color: var(--color-18);
  font-weight: 500;
  margin-left: auto;
}

.button.upload:active {
  color: var(--color-1);
  background: var(--color-18);
}