.main {
  width: 53.82%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.figure {
  background: var(--color-figure-color);
  border-radius: 20px;
  width: 87.75%;
  height: calc(100% - var(--outside-gap) * 2);
  margin-right: var(--outside-gap);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../public/pages/home/girl-and-cat.png') no-repeat;
  background-size: 100%;
  background-position-y: center;
}

@media screen and (max-width: 1050px) {
  .main {
    display: none;
  }
}